@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-track {
    background: hsl(0, 0%, 15%);
  }

  body::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 25%);
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 30%);
  }

  .selected {
    background-color: #CE93D8;
    color: #1e1e1e;
    border-radius: 0.5rem;
    background-image: url('./assets/cross-dark.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    transition: background-color 300ms linear;
  }

  .selected p:hover {
    cursor: pointer !important;
    color: #1e1e1e;
  }

  .selected p {
    transition: 300ms;
    transform: scale(1) !important;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: 'none';
    scrollbar-width: 'none'
  }
}